<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maven.mapper.IRoleMapper">

    <select id="findAll" resultType="role">
        select * from role
    </select>

    <insert id="save" parameterType="role">
        insert into role (rolename,roledesc) values (#{roleName},#{roleDesc})
    </insert>
</mapper>
